.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    display: flex;
    justify-content: space-between;
}

.list-group{
    list-style-type: none;
    font-size: 12px;
    max-height: 200px;
    overflow-y: auto;
}

.list-group::-webkit-scrollbar{
    width: 10px;
}

.list-group::-webkit-scrollbar-thumb{
    background-color: var(--input-colour);
}

.list-group li{
    padding-top: 5px;
    width: 100%;
    cursor: pointer;
}

.list-group li:hover{
    background-color: var(--primary);
    filter: brightness(0.9);
}

.channel-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group-item{
    flex: 1;
    cursor: pointer;
}

.channel-item svg{
    width: 18px;
}

@media (max-width: 800px){
    .navigation{
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: var(--primary);        
        display: block;
    }

    .closed{
        display: none;
    }
}