body{
  text-align: center;
}

.logo{
  width: 50%;
  max-width: 200px;
  margin-top: 20px;
  cursor: pointer;
}

.MuiSvgIcon-root{
  cursor: pointer;
  margin-bottom: 3px;
  overflow-y: auto;
}

.mw-500{
  max-width: 500px;
}

.w-95{
  width: 95%;
}

.darktheme{
  --primary: #035B96;
  --secondary: #04396C;
  --input-colour: #6497B1;
  transition: 500ms;
}

.lighttheme{
  --primary: #3F0E40;
  --secondary: #541356;
  transition: 500ms;
}

.svg-icons{
  width: 100px;
  margin: 25px 0;
}

::-webkit-scrollbar{
  background-color: #ddd;
}

::-webkit-scrollbar-thumb{
  width: 3px;
  border: 10px solid transparent;
  background-color: #4c4c4c;
}

.primary{
  background-color: var(--primary);
  color: #CDC0CD;
}

.secondary{
  background-color: var(--secondary);
  color: #CDC0CD;
}

.input-color{
  background-color: var(--input-color);
}

.btn-theme{
  position: absolute;
  left: 50px;
  margin: auto;
}

.icon{
  width: 20px;
}