.message-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
}

.message-container:hover{
    filter: brightness(0.9);
}

.profile-picture{
    align-self: start;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
}

.message-details{
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.message-details span{
    font-size: 8px;
}

.message-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}